.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/encodings.xml
IdeaProjects-ditapp.iml
/app/IdeaProjects-ditapp-app.iml
/app/app.iml
/app/ditapp-app.iml
ditapp.iml
linoukth-IdeaProjects-ditapp.iml
/out
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
